<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/">Dating App</a>
      
        <ul *ngIf="accountService.currentUser()" class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a routerLink="/members" routerLinkActive="active" class="nav-link">Matches</a>
          </li>
          <li class="nav-item">
            <a routerLink="/lists" routerLinkActive="active" class="nav-link">Lists</a>
          </li>
          <li class="nav-item">
            <a routerLink="/messages" routerLinkActive="active" class="nav-link">Messages</a>
          </li>
        </ul>
        <ul *ngIf="!accountService.currentUser()" class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a routerLink="/members" routerLinkActive="active" class="nav-link">new one</a>
          </li>
        </ul>


        <div dropdown *ngIf="accountService.currentUser()" class="dropdown">
          <a dropdownToggle class="dropdown-toggle text-light text-decoration-none">Welcome {{accountService.currentUser()?.username | titlecase}}</a>
          <div *dropdownMenu class="dropdown-menu">
            <a class="dropdown-item" href="#">Edit Profile</a>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </div>

        <form *ngIf="!accountService.currentUser()" #loginForm="ngForm" (ngSubmit)="login()" class="d-flex" autocomplete="off">
          <input name="username"
           [(ngModel)]="model.username" 
           class="form-control me-2" placeholder="Username" >
          <input 
          name="password"
          [(ngModel)]="model.password"
          class="form-control me-2" placeholder="Password"  type="password">
          <button class="btn btn-outline-success" type="submit">Login</button>
        </form>
      </div>
  </nav>